<!DOCTYPE html>
<html  ng-app="myApp">
<head lang="en"  >
    <meta charset="UTF-8">
    <title>Data Binding</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="application/javascript" src="js/angular.js"></script>
    <script type="application/javascript" src="js/Application.js"></script>
    <style>
    html,body { background: linear-gradient(135deg, red, blue);
                height: 100%;
                width: 100%;
                }
    </style>
    <script type="application/javascript">

</script>
</head>
<body>
<div id="bodyDiv" ng-controller="myController">
First Name:{{firstName}}<br/>
Last Name: {{lastName}}<br/>
Full Name: {{fullName()}}<br/>
Enter Age <input type="text" id="inputAge" ng-model="age"/>
Enter DepartMent<input type="text" id="inputDepartment" ng-model="department"/><br/>
<span ng-bind="age"> </span> <span ng-show="age">is the age</span> </br>
<span ng-bind="department"> </span> <span ng-show="department">is the department</span>
</div>
</body>
</html>
